<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-brand">
    <%= link_to '<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>'.html_safe, root_path %>
    Programmers We L<span class="glyphicon glyphicon-heart"></span>ve
  </div>
</nav>
